{% extends 'base.html.twig' %}
{% block body %}
    {% include 'header.html.twig' %}
    
    <h1 class='text-8xl  font-extrabold uppercase w-full text-center mt-28'>Tyre Results</h1>
    {% include '/results/results.html.twig' %}
    
{% endblock %}
