@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --primary-color: rgb(172, 215, 255); */
  --primary-color: white;
}

body {
    background-color: var(--primary-color);
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

/* Search */

.tyres-container {
    width: 100%;
    overflow: hidden;
  }
  
  .tyres {
    display: flex;
    animation: moveRight 10s linear infinite;
  }
  
  @keyframes moveRight {
    0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
  }

  .slideshow-container {
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    transition: left 1s ease-in-out;
}

.slide.active {
    left: 0;
}


input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .custom-number-input input:focus {
    outline: none !important;
  }

  .custom-number-input button:focus {
    outline: none !important;
  }