{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <div {{ react_component('Hello', { 'fullName': 'Tarik' }) }}>
        {# Loading... <i class="fas fa-cog fa-spin fa-3x"></i> #}
    </div>
{% endblock %}
